.card-button {
  margin-top: auto;
  align-self: flex-end;

  display: flex;
  align-items: center;
  gap: 6px;

  background: #0d6efd;
  color: white;

  border: none;
  padding: 8px 14px; /* 🔥 más pequeño que create */
  border-radius: 8px;

  cursor: pointer;
  font-size: 13px;
  font-weight: 500;

}

.card-button:hover {
  background: #0b5ed7;
}

/* hover suave */
.card-button:hover {
  background-color: #1d4ed8;
}





/* 📦 CONTENIDO FLEX */
.card-content {
  display: flex;
  flex-direction: column;
  flex: 1; /* 🔥 IMPORTANTE */
}
/* (opcional) espacio entre textos */
.card-content p {
  margin: 4px 0;
}


.card-article-preview {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-article-img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 8px;
}

.card-article-icon {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  background: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}




/* 🔥 CONTENEDOR GENERAL */
.card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative; /* 🔥 CLAVE */
}

/* 🔥 ARTÍCULO */
.card-article-img-bottom {
  position: absolute;
  bottom: -5px;
  left: 0px;

  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

/* 🔥 ALMACÉN (ICONO) */
.card-warehouse-icon-bottom {
  position: absolute;
  bottom: -5px;
  left: 0px;

  width: 150px;
  height: 150px;

  border-radius: 10px;
  background: #e0ecff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-warehouse-icon-bottom svg {
  font-size: 80px;
  color: #2563eb;
}
